.toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  min-width: 200px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.toast button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  padding: 0;
}

.toast button:hover {
  opacity: 0.7;
}
